<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>题问知识人-中国大学生最爱的问答平台（真的吗？我不信）</title>
  <link href="../public/img/icon.png" rel="icon">
  <link href="../public/css/home.css" type="text/css" rel="stylesheet">
  <script src="../public/js/home.js" type="text/javascript"></script>
</head>
<!--代码放置于</body>上方-->
<body >
  <div id="top-fixed">
    <div id="top-blank"></div>
    <img src="../public/img/logo.png" id="img">
    <div id="shouye" onclick="topBtm(id)" class="top-div">首页
      <img src="../public/img/topBtm.png" class="topBtm">
    </div>
    <div id="faxian" onclick="topBtm(id)" class="top-div">发现
      <img src="../public/img/topBtm.png" class="topBtm"></div>
    <div id="search">
      <img src="../public/img/bkg.png" id="img2">
      <input id="searchText" type="text" placeholder="题问知识人，一问就知道！">
      <div onclick="onsubmit()" >
        <img src="../public/img/search.png" id="imgSearch" onmouseover="searchHover(id)" onmouseout="searchOut(id)">
      </div>
    </div>
    <div id="dec01">
      <div class="dec02">
        <img class="img03" src="../public/img/notice.png">
      </div>
      <div class="dec02">
        <img class="img03" src="../public/img/message.png">
      </div>
      <div class="dec02">
        <img class="img04" src="../public/img/userimg.png">
      </div>
    </div>
  </div>
  <script>
    let img = document.getElementById('shouye')
        .getElementsByTagName('img')
    img[0].style.display = 'block'
    let element = document.getElementById('shouye')
    element.style.color = 'black'
  </script>
  <div id="blank1"></div>
  <div style="position: relative">
    <div id="ask">
      <div id="cancle" onclick="cancle()">
        <img src="../public/img/cancle.png">
      </div>
      <form>
        <div id="askPan">
          <div class="ask-top">
            <label for="asktext"> 问题：</label>
            <input type="text" id="asktext" class="form-control">
            <label for="askdetile">问题详情：</label>
            <textarea id="askdetile" class="form-control2"></textarea>
            <a href="#"><div id="send" onclick="cancle()">发起问题</div></a>
          </div>

        </div>
      </form>
    </div>
    <!--    这是我的收藏等的隐藏页-->
    <div id="my">
      <div id="canclemy" onclick="canclemy()">
        <img src="../public/img/cancle.png">
      </div>

        <div id="myPan">
          <button type="button" class="myPanBtu" id="btu0" onclick="myPanBtu(0)">收藏</button>
          <button type="button" class="myPanBtu" id="btu1" onclick="myPanBtu(1)">关注</button>
          <button type="button" class="myPanBtu" id="btu2" onclick="myPanBtu(2)">喜欢</button>
          <hr color="lightgray">
          <div id="my_main">
            <div class="myPan_questions">
              <div class="myPan_question">
                <div class="myPan_problem">
                  如何看待媒体评论文章《「做题家」们的怨气为何要往丁真身上撒？》？
                </div>
                <div class="myPan_detile">
                  【“做题家”们的怨气，为何要往丁真身上撒？】“我那么努力学习，
                  为什么到头来没有一个长得好看，学历却不高的人成功？”一些“做
                  题家”对丁真“羡慕嫉妒恨”， 对着丁真“开火”，希望以此改变社
                  会评价标准，注定是缘木求鱼，只会在伤害别人的同时给自己添堵。
                  （中国青年报）
                </div>
              </div>
              <div class="myPan_question">
                <div class="myPan_problem">
                  如何看待媒体评论文章《「做题家」们的怨气为何要往丁真身上撒？》？
                </div>
                <div class="myPan_detile">
                  【“做题家”们的怨气，为何要往丁真身上撒？】“我那么努力学习，
                  为什么到头来没有一个长得好看，学历却不高的人成功？”一些“做
                  题家”对丁真“羡慕嫉妒恨”， 对着丁真“开火”，希望以此改变社
                  会评价标准，注定是缘木求鱼，只会在伤害别人的同时给自己添堵。
                  （中国青年报）
                </div>
              </div>
              <div class="myPan_question">
                <div class="myPan_problem">
                  如何看待媒体评论文章《「做题家」们的怨气为何要往丁真身上撒？》？
                </div>
                <div class="myPan_detile">
                  【“做题家”们的怨气，为何要往丁真身上撒？】“我那么努力学习，
                  为什么到头来没有一个长得好看，学历却不高的人成功？”一些“做
                  题家”对丁真“羡慕嫉妒恨”， 对着丁真“开火”，希望以此改变社
                  会评价标准，注定是缘木求鱼，只会在伤害别人的同时给自己添堵。
                  （中国青年报）
                </div>
              </div>
              <div class="myPan_question">
                <div class="myPan_problem">
                  如何看待媒体评论文章《「做题家」们的怨气为何要往丁真身上撒？》？
                </div>
                <div class="myPan_detile">
                  【“做题家”们的怨气，为何要往丁真身上撒？】“我那么努力学习，
                  为什么到头来没有一个长得好看，学历却不高的人成功？”一些“做
                  题家”对丁真“羡慕嫉妒恨”， 对着丁真“开火”，希望以此改变社
                  会评价标准，注定是缘木求鱼，只会在伤害别人的同时给自己添堵。
                  （中国青年报）
                </div>
              </div>
              <div class="myPan_question">
                <div class="myPan_problem">
                  如何看待媒体评论文章《「做题家」们的怨气为何要往丁真身上撒？》？
                </div>
                <div class="myPan_detile">
                  【“做题家”们的怨气，为何要往丁真身上撒？】“我那么努力学习，
                  为什么到头来没有一个长得好看，学历却不高的人成功？”一些“做
                  题家”对丁真“羡慕嫉妒恨”， 对着丁真“开火”，希望以此改变社
                  会评价标准，注定是缘木求鱼，只会在伤害别人的同时给自己添堵。
                  （中国青年报）
                </div>
              </div>
              <div class="myPan_question">
                <div class="myPan_problem">
                  如何看待媒体评论文章《「做题家」们的怨气为何要往丁真身上撒？》？
                </div>
                <div class="myPan_detile">
                  【“做题家”们的怨气，为何要往丁真身上撒？】“我那么努力学习，
                  为什么到头来没有一个长得好看，学历却不高的人成功？”一些“做
                  题家”对丁真“羡慕嫉妒恨”， 对着丁真“开火”，希望以此改变社
                  会评价标准，注定是缘木求鱼，只会在伤害别人的同时给自己添堵。
                  （中国青年报）
                </div>
              </div>
              <div class="myPan_question">
                <div class="myPan_problem">
                  如何看待媒体评论文章《「做题家」们的怨气为何要往丁真身上撒？》？
                </div>
                <div class="myPan_detile">
                  【“做题家”们的怨气，为何要往丁真身上撒？】“我那么努力学习，
                  为什么到头来没有一个长得好看，学历却不高的人成功？”一些“做
                  题家”对丁真“羡慕嫉妒恨”， 对着丁真“开火”，希望以此改变社
                  会评价标准，注定是缘木求鱼，只会在伤害别人的同时给自己添堵。
                  （中国青年报）
                </div>
              </div>

            </div>
          </div>

        </div>
    </div>
    <div id="main">
      <div id="container">
        <div id="mainColumn">
          <div id="navBar">
            <div id="navBar-top">
              <span style="color: #8A8B8A">推荐</span>
              <span>热榜</span>
            </div>
            <hr color= #9bacc2>
            <div id="navBar-btm">
              <div class="navBar-btu" style="background: #C3DCCF;color: #167C68">全站</div>
              <div class="navBar-btu">科学</div>
              <div class="navBar-btu">数码</div>
              <div class="navBar-btu">体育</div>
              <div class="navBar-btu">时尚</div>
              <div class="navBar-btu">影视</div>
            </div>
          </div>
          <div>
            <div class="questionPan">
              <div class="rank">1</div>
              <div class="question">
                <div class="question-left">
                  <div class="problem">
                    如何看待媒体评论文章《「做题家」们的怨气为何要往丁真身上撒？》？
                  </div>
                  <div class="detile">
                    【“做题家”们的怨气，为何要往丁真身上撒？】“我那么努力学习，
                    为什么到头来没有一个长得好看，学历却不高的人成功？”一些“做
                    题家”对丁真“羡慕嫉妒恨”， 对着丁真“开火”，希望以此改变社
                    会评价标准，注定是缘木求鱼，只会在伤害别人的同时给自己添堵。
                    （中国青年报）
                  </div>
                </div>
                <div class="question-img">
                  <img src="../public/img/dz.jpg">
                </div>
              </div>
            </div>
            <div class="questionPan">
              <div class="rank">2</div>
              <div class="question">
                <div class="question">
                  <div class="question-left">
                    <div class="problem">
                      如何看待媒体评论文章《「做题家」们的怨气为何要往丁真身上撒？》？
                    </div>
                    <div class="detile">
                      【“做题家”们的怨气，为何要往丁真身上撒？】“我那么努力学习，
                      为什么到头来没有一个长得好看，学历却不高的人成功？”一些“做
                      题家”对丁真“羡慕嫉妒恨”， 对着丁真“开火”，希望以此改变社
                      会评价标准，注定是缘木求鱼，只会在伤害别人的同时给自己添堵。
                      （中国青年报）
                    </div>
                  </div>
                  <div class="question-img">
                    <img src="../public/img/dz.jpg">
                  </div>
                </div>
              </div>
            </div>
            <div class="questionPan">
              <div class="rank">3</div>
              <div class="question">
                <div class="question">
                  <div class="question-left">
                    <div class="problem">
                      如何看待媒体评论文章《「做题家」们的怨气为何要往丁真身上撒？》？
                    </div>
                    <div class="detile">
                      【“做题家”们的怨气，为何要往丁真身上撒？】“我那么努力学习，
                      为什么到头来没有一个长得好看，学历却不高的人成功？”一些“做
                      题家”对丁真“羡慕嫉妒恨”， 对着丁真“开火”，希望以此改变社
                      会评价标准，注定是缘木求鱼，只会在伤害别人的同时给自己添堵。
                      （中国青年报）
                    </div>
                  </div>
                  <div class="question-img">
                    <img src="../public/img/dz.jpg">
                  </div>
                </div>
              </div>
            </div>
            <div class="questionPan">
              <div class="rank">4</div>
              <div class="question">
                <div class="question">
                  <div class="question-left">
                    <div class="problem">
                      如何看待媒体评论文章《「做题家」们的怨气为何要往丁真身上撒？》？
                    </div>
                    <div class="detile">
                      【“做题家”们的怨气，为何要往丁真身上撒？】“我那么努力学习，
                      为什么到头来没有一个长得好看，学历却不高的人成功？”一些“做
                      题家”对丁真“羡慕嫉妒恨”， 对着丁真“开火”，希望以此改变社
                      会评价标准，注定是缘木求鱼，只会在伤害别人的同时给自己添堵。
                      （中国青年报）
                    </div>
                  </div>
                  <div class="question-img">
                    <img src="../public/img/dz.jpg">
                  </div>
                </div>
              </div>
            </div>
            <div class="questionPan">
              <div class="rank">5</div>
              <div class="question">
                <div class="question">
                  <div class="question-left">
                    <div class="problem">
                      如何看待媒体评论文章《「做题家」们的怨气为何要往丁真身上撒？》？
                    </div>
                    <div class="detile">
                      【“做题家”们的怨气，为何要往丁真身上撒？】“我那么努力学习，
                      为什么到头来没有一个长得好看，学历却不高的人成功？”一些“做
                      题家”对丁真“羡慕嫉妒恨”， 对着丁真“开火”，希望以此改变社
                      会评价标准，注定是缘木求鱼，只会在伤害别人的同时给自己添堵。
                      （中国青年报）
                    </div>
                  </div>
                  <div class="question-img">
                    <img src="../public/img/dz.jpg">
                  </div>
                </div>
              </div>
            </div>
            <div class="questionPan">
              <div class="rank">6</div>
              <div class="question">
                <div class="question">
                  <div class="question-left">
                    <div class="problem">
                      如何看待媒体评论文章《「做题家」们的怨气为何要往丁真身上撒？》？
                    </div>
                    <div class="detile">
                      【“做题家”们的怨气，为何要往丁真身上撒？】“我那么努力学习，
                      为什么到头来没有一个长得好看，学历却不高的人成功？”一些“做
                      题家”对丁真“羡慕嫉妒恨”， 对着丁真“开火”，希望以此改变社
                      会评价标准，注定是缘木求鱼，只会在伤害别人的同时给自己添堵。
                      （中国青年报）
                    </div>
                  </div>
                  <div class="question-img">
                    <img src="../public/img/dz.jpg">
                  </div>
                </div>
              </div>
            </div>
            <div class="questionPan">
              <div class="rank">7</div>
              <div class="question">
                <div class="question">
                  <div class="question-left">
                    <div class="problem">
                      如何看待媒体评论文章《「做题家」们的怨气为何要往丁真身上撒？》？
                    </div>
                    <div class="detile">
                      【“做题家”们的怨气，为何要往丁真身上撒？】“我那么努力学习，
                      为什么到头来没有一个长得好看，学历却不高的人成功？”一些“做
                      题家”对丁真“羡慕嫉妒恨”， 对着丁真“开火”，希望以此改变社
                      会评价标准，注定是缘木求鱼，只会在伤害别人的同时给自己添堵。
                      （中国青年报）
                    </div>
                  </div>
                  <div class="question-img">
                    <img src="../public/img/dz.jpg">
                  </div>
                </div>
              </div>
            </div>
            <div class="questionPan">
              <div class="rank">8</div>
              <div class="question">
                <div class="question">
                  <div class="question-left">
                    <div class="problem">
                      如何看待媒体评论文章《「做题家」们的怨气为何要往丁真身上撒？》？
                    </div>
                    <div class="detile">
                      【“做题家”们的怨气，为何要往丁真身上撒？】“我那么努力学习，
                      为什么到头来没有一个长得好看，学历却不高的人成功？”一些“做
                      题家”对丁真“羡慕嫉妒恨”， 对着丁真“开火”，希望以此改变社
                      会评价标准，注定是缘木求鱼，只会在伤害别人的同时给自己添堵。
                      （中国青年报）
                    </div>
                  </div>
                  <div class="question-img">
                    <img src="../public/img/dz.jpg">
                  </div>
                </div>
              </div>
            </div>
            <div class="questionPan">
              <div class="rank">9</div>
              <div class="question">
                <div class="problem"></div>
                <div class="detile"></div>
              </div>
            </div>
            <div class="questionPan">
              <div class="rank">10</div>
              <div class="question">
                <div class="problem"></div>
                <div class="detile"></div>
              </div>
            </div>
            <div class="questionPan">
              <div class="rank">11</div>
              <div class="question">
                <div class="problem"></div>
                <div class="detile"></div>
              </div>
            </div>
            <div class="questionPan">
              <div class="rank">12</div>
              <div class="question">
                <div class="problem"></div>
                <div class="detile"></div>
              </div>
            </div>
            <div class="questionPan">
              <div class="rank">13</div>
              <div class="question">
                <div class="problem"></div>
                <div class="detile"></div>
              </div>
            </div>
            <div class="questionPan">
              <div class="rank">14</div>
              <div class="question">
                <div class="problem"></div>
                <div class="detile"></div>
              </div>
            </div>
            <div class="questionPan">
              <div class="rank">15</div>
              <div class="question">
                <div class="problem"></div>
                <div class="detile"></div>
              </div>
            </div>
          </div>
          <script>
            let elements = document.getElementsByClassName('rank')
            let index = 0
            for(;index<elements.length;index++){
              if (parseInt(elements[index].innerText)<=3){
                elements[index].style.color = '#82B59A'
                console.log("gaibian")
              }
              else elements[index].style.color = '#000000'
            }

          </script>
        </div>
        <div id="rightColumn">
          <div id="functionBar">
            <div id="functionBar-top">
              <div class="functionItem"><img src="../public/img/11answer.png">回答问题</div>
              <div class="functionItem" onclick="up()"><img src="../public/img/12ask.png">发布问题</div>
              <div class="functionItem"><img src="../public/img/13article2.png">写文章</div>
              <div class="functionItem"><img src="../public/img/14idea2.png">写想法</div>
            </div>
            <div id="functionBar-btm">
              <div class="middleLine">稍后回答</div>
              <div>草稿箱</div>
            </div>
          </div>
          <div id="userBar">
            <div id="userBar-top"><img src="../public/img/2user.png">创作中心<span>Lv 2</span></div>
            <div id="userBar-btm">
              <div class="userBar-item middleLine">
                <h5>昨日被阅读数</h5>
                <span>0</span>
                <h6>较前日 -- </h6>
              </div>
              <div class="userBar-item">
                <h5>昨日被赞同数</h5>
                <span>0</span>
                <h6>较前日 -- </h6>
              </div>
            </div>
          </div>
          <div id="myx">
            <div class="myxclass" onclick="upmy(0)" ><img src="../public/img/31collection.png">我的收藏</div>
            <div class="myxclass" onclick="upmy(1)"><img src="../public/img/32guanzhu.png">我关注的问题</div>
            <div class="myxclass" onclick="upmy(2)"><img src="../public/img/33like.png">我喜欢的回答</div>
          </div>
          <div id="more">
            <div  class="morePan">
              <div class="moreItem" onmouseover="moreHover(0)" onmouseout="moreOut(0)"><img src="../public/img/41live.jpg">Live</div>
              <div class="moreItem" onmouseover="moreHover(1)" onmouseout="moreOut(1)"><img src="../public/img/42.jpg">书店</div>
              <div class="moreItem" onmouseover="moreHover(2)" onmouseout="moreOut(2)"><img src="../public/img/43.jpg">圆桌</div>
            </div>
            <div  class="morePan">
              <div class="moreItem" onmouseover="moreHover(3)" onmouseout="moreOut(3)"><img src="../public/img/44.jpg">专栏</div>
              <div class="moreItem" onmouseover="moreHover(4)" onmouseout="moreOut(4)"><img src="../public/img/45.jpg">咨询</div>
              <div class="moreItem" onmouseover="moreHover(5)" onmouseout="moreOut(5)"><img src="../public/img/46.jpg">百科</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>